<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>我的博客</title>
	<link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" id="kz-navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand link" href="#">我的个人博客</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">首页<span class="sr-only">(current)</span></a></li>
          <li><a href="list.html">HTML/CSS</a></li>
          <li><a href="list.html">JavaScript</a></li>
          <li><a href="list.html">NodeJs</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div id="main-carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#main-carousel" data-slide-to="1"></li>
              <li data-target="#main-carousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="img/carousel1.jpg" alt="轮播图">
              </div>
              <div class="item">
                <img src="img/carousel2.jpeg" alt="轮播图">
              </div>
              <div class="item">
                <img src="img/carousel3.jpg" alt="轮播图">
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="panel panel-default content-item">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a href="detail.html" class="link" target="_blank">网易云热评</a>
              </h3>
            </div>
            <div class="panel-body">
              明明喜欢你的程度有十分，但我想表现出来的只有三分那么多。很多时候我也很想你，但始终不会告诉你。不是说不出口，而是不想说，因为你没那么喜欢我，所以自己也不想表现的太在乎。
            </div>
            <div class="panel-footer">
              <span class="glyphicon glyphicon-user"></span>
              <span class="panel-footer-text text-muted">Yang</span>
              <span class="glyphicon glyphicon-th-list"></span>
              <span class="panel-footer-text text-muted">JavaScript</span>
              <span class="glyphicon glyphicon-time"></span>
              <span class="panel-footer-text text-muted">2019-07-30</span>
              <span class="glyphicon glyphicon-eye-open"></span>
              <span class="panel-footer-text text-muted"><em>1000</em>已阅读</span>
            </div>
          </div>
          <div class="panel panel-default content-item">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a href="detail.html" class="link" target="_blank">网易云热评</a>
              </h3>
            </div>
            <div class="panel-body">
              明明喜欢你的程度有十分，但我想表现出来的只有三分那么多。很多时候我也很想你，但始终不会告诉你。不是说不出口，而是不想说，因为你没那么喜欢我，所以自己也不想表现的太在乎。
            </div>
            <div class="panel-footer">
              <span class="glyphicon glyphicon-user"></span>
              <span class="panel-footer-text text-muted">Yang</span>
              <span class="glyphicon glyphicon-th-list"></span>
              <span class="panel-footer-text text-muted">JavaScript</span>
              <span class="glyphicon glyphicon-time"></span>
              <span class="panel-footer-text text-muted">2019-07-30</span>
              <span class="glyphicon glyphicon-eye-open"></span>
              <span class="panel-footer-text text-muted"><em>1000</em>已阅读</span>
            </div>
          </div>
          <div class="panel panel-default content-item">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a href="detail.html" class="link" target="_blank">网易云热评</a>
              </h3>
            </div>
            <div class="panel-body">
              明明喜欢你的程度有十分，但我想表现出来的只有三分那么多。很多时候我也很想你，但始终不会告诉你。不是说不出口，而是不想说，因为你没那么喜欢我，所以自己也不想表现的太在乎。
            </div>
            <div class="panel-footer">
              <span class="glyphicon glyphicon-user"></span>
              <span class="panel-footer-text text-muted">Yang</span>
              <span class="glyphicon glyphicon-th-list"></span>
              <span class="panel-footer-text text-muted">JavaScript</span>
              <span class="glyphicon glyphicon-time"></span>
              <span class="panel-footer-text text-muted">2019-07-30</span>
              <span class="glyphicon glyphicon-eye-open"></span>
              <span class="panel-footer-text text-muted"><em>1000</em>已阅读</span>
            </div>
          </div>
          <nav aria-label="Page navigation" id="page">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>                                         
        </div>
        <div class="col-md-4 hidden-xs hidden-sm">
          <div class="ad">
            <a href="#" class="thumbnail">
              <img src="img/ad1.jpg" alt="广告1">
            </a>
          </div>
          <div class="ad">
            <a href="#" class="thumbnail">
              <img src="img/ad2.jpg" alt="广告2">
            </a>
          </div>
          <div class="panel panel-default custom-panel">
            <div class="panel-heading">
              <h3 class="panel-title">博主介绍</h3>
            </div>
            <div class="panel-body">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object img-me img-circle" src="img/wyz.jpeg" alt="博主帅照">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Yang</h4>
                  90后草根！一直潜心研究web技术，一边工作一边积累经验，分享一些个人心得。
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default custom-panel hot-list">
            <div class="panel-heading">
              <h3 class="panel-title">点击排行</h3>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item"><a href="detail.html" class="link text-ellipsis" target="_blank">Cras justo odioCras justo odioCras justo odioCras justo odioCras justo odio</a></li>
                <li class="list-group-item"><a href="detail.html" class="link text-ellipsis" target="_blank">Cras justo odioCras justo odioCras justo odioCras justo odioCras justo odio</a></li>
                <li class="list-group-item"><a href="detail.html" class="link text-ellipsis" target="_blank">Cras justo odioCras justo odioCras justo odioCras justo odioCras justo odio</a></li>
                <li class="list-group-item"><a href="detail.html" class="link text-ellipsis" target="_blank">Cras justo odioCras justo odioCras justo odioCras justo odioCras justo odio</a></li>
                <li class="list-group-item"><a href="detail.html" class="link text-ellipsis" target="_blank">Cras justo odioCras justo odioCras justo odioCras justo odioCras justo odio</a></li>
                <li class="list-group-item"><a href="detail.html" class="link text-ellipsis" target="_blank">Cras justo odioCras justo odioCras justo odioCras justo odioCras justo odio</a></li>
                <li class="list-group-item"><a href="detail.html" class="link text-ellipsis" target="_blank">Cras justo odioCras justo odioCras justo odioCras justo odioCras justo odio</a></li>
                <li class="list-group-item"><a href="detail.html" class="link text-ellipsis" target="_blank">Cras justo odioCras justo odioCras justo odioCras justo odioCras justo odio</a></li>                                                 
              </ul>     
            </div>
          </div>
          <div class="panel panel-default custom-panel">
            <div class="panel-heading">
              <h3 class="panel-title">关注我</h3>
            </div>
            <div class="panel-body">
              <img src="img/wyz.jpeg" class="img-responsive" alt="">
            </div>
          </div>                                         
        </div>
      </div>
    </div>
  </div>
  <footer>
    Blog Design by <a href="#">Kuazhu</a> <a href="#">豫ICP备11002373号-1</a>.
  </footer>


<script src="lib/jquery/jquery-1.12.4.min.js"></script>	
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="js/index.js"></script>
</body>

</html>